# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/

# Django
db.sqlite3
staticfiles/

# Node / React
node_modules/
dist/
build/
*.exe
*.pkg

# PyInstaller
*.spec
build/
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
